@import url(/sass/utils/_helpers.scss);
@import url(/sass/utils/_variables.scss);

#about__header {
    padding: 150px 0 140px 0;
    p {
        @extend %body1 ;
        color: $dark-blue;
        text-align: justify;
        margin-bottom: 40px;       
    }
    .header__start {
        @extend %label1;
        margin-bottom: 8px;
    }
    h1 {
        @extend %heading1;
        margin-bottom: 30px;
    }
}

.header__right {
    display: inline-block;
    margin-bottom: 130px;
    img {
        width: 100%;
    }
}


#about__main {
    background-color: #F4F5F5;
    margin-bottom: 128px;
    h3 {
        @extend %headeing3;
        color: $dark-blue;
        margin-bottom: 16px;
        }
    p {
        @extend %body1 ;
        color: $dark-blue;
        margin-bottom: 96px;
    }
    img {
        width: 100%;
    }
}

.main__text {
    padding: 96px 109px 96px 80px;
}


#team {
    background-color: $grey;
    padding: 128px 0px;
}

@media (min-width:960px) {
    #about__header {
        display: flex;
        gap: 54px;
    }
}

@media (min-width:960px) {
    .main__text {
        display: flex;
        gap: 54px;
    }
}

@media (min-width:960px) {
    #team {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-area: 64px;
    }
}
@media (min-width:1200px) {
    #team {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:  32px;
    }
}
