$royal_blue__color: #2405F2;
$dark-blue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tint__blue: #1C1E53;
$accent: #EEF4FA;
$scin__color: #fcd9801a;

%heading1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%heading2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%headeing3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%heading6 {
    font-size: 24px;
    line-height: 36px;
}

%body1 {
    font-size: 16px;
    line-height: 28px;
}



%btn1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: none;
}
%label1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

%label2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}


#about__header {
    padding: 150px 0 140px 0;
    p {
        @extend %body1 ;
        color: $dark-blue;
        text-align: justify;
        margin-bottom: 40px;       
    }
    .header__start {
        @extend %label1;
        margin-bottom: 8px;
    }
    h1 {
        @extend %heading1;
        margin-bottom: 30px;
    }
}

.header__right {
    display: inline-block;
    margin-bottom: 130px;
    img {
        width: 100%;
    }
}


#about__main {
    background-color: #F4F5F5;
    h3 {
        @extend %headeing3;
        color: $dark-blue;
        margin-bottom: 16px;
        }
    p {
        @extend %body1 ;
        color: $dark-blue;
        margin-bottom: 96px;
    }
    img {
        width: 100%;
    }
}

.main__text {
    padding: 96px 109px 96px 80px;
}


@media (min-width:960px) {
    #about__header {
        display: flex;
        gap: 54px;
    }
}

@media (min-width:960px) {
    .main__text {
        display: flex;
        gap: 54px;
    }
}