@import url(/sass/utils/_helpers.scss);
@import url(/sass/utils/_variables.scss);



#blog__header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 128px 0;
    h2 {
       @extend %heading2;
       color: $dark-blue;
       
    }
    p {
        @extend %body1;
        font-weight: 500;
    }
    a {
        @extend %label1;
        color: $royal_blue__color;
        text-align: center;
    }
}


    
  


.text__p {
    @extend %body1;
    font-weight: 400;
}

.blog__text {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 48px;
    h2 {
        @extend %heading2;
        color: $dark-blue;
    }
}

.blog__card {
    p {
        color: $dark-blue;
        @extend %body1;
        font-weight: 400;
    }

}

@media (min-width:760px) {
    .blog__card {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

}

@media (min-width:1200px) {
    .blog__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}