@import url(/sass/utils/_helpers.scss);
@import url(/sass/utils/_variables.scss);

$royal_blue__color: #2405F2;
$dark-blue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tint__blue: #1C1E53;
$accent: #EEF4FA;
$scin__color: #fcd9801a;

%heading1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%heading2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%headeing3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%heading6 {
    font-size: 24px;
    line-height: 36px;
}

%body1 {
    font-size: 16px;
    line-height: 28px;
}


%btn1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: none;
}

%label1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

%label2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

header{
    background-color: $tint__blue;
    img {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background-color: $tint__blue !important;
}

.navbar * {
color: #fff !important;
}

.navbar *:hover {
color: #ddd;
}

.navbar-toggler {
    background-color: $royal_blue__color;
}

.contact__btn {
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    padding: 16px 48px;
}

#home__header {
    padding: 127px 0;
}

#home__header h1 {
    color: #FFF;
   @extend %heading1;
   margin-bottom: 24px;
}

#home__header p {
    @extend %body1;
    color: #fff;
    margin-bottom: 48px;
}

.header__btn {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 160px;
}

.header__btn button {
    color: $tint__blue;
    background-color: $yellow;
    @extend %btn1;
        transition: 0.5s;
    

    &:hover {
        background-color: #FDE4A6;
    }
}

.header__btn a {
    color: #FFF;
}

#home__project {
    padding: 60px 0 120px;
    h2 {
        @extend %heading2;
        margin-bottom: 64px;
    }
    h6 {
        @extend %heading6 ;
        font-weight: 600;
        margin-bottom: 16px;
    }
    p {
        @extend %body1;
        font-weight: 500;
    }
    a {
       @extend %label2;
       color: $yellow;
    }
}

.project__left {
    background-image: url(/assets/img/big__card.png);
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 32px;
}

.project__left__text {
    padding: 312px 32px 76px 85px;
    display: inline-block;
    background-color: rgba(28, 30, 83, 0.42);
}


.projectr__1 h6{
    @extend %heading6;
    font-weight: 600;
     margin-bottom: 10px;
}


.projectr__1 {
    display: inline-block;
    width: 100%;
    background-image: url(/assets/img/card-2.png);
    background-repeat: no-repeat;
    padding: 130px 36px 45px 56px;
    margin-bottom: 32px;

    h6 {
            @extend %heading6;
            font-weight: 600;
            margin-bottom: 16px;
            color: #fff;
        }
}

.projectr__2 {
    display: inline-block;
}

.projectr__2 img { 
    width: 100%;
}

.home__card__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 47px;
    p {
        @extend %label2;
        color: $dark-blue;
        margin-bottom: 12px;
    }
    h2 {
        @extend %heading2;
        color: $dark-blue;
    }
}

#home__card {
    background: $grey;
    padding: 128px 160px;
}

.hcard-1 {
    background-color: #fff;
    padding: 108px 32px 48px 48px;
    h6 {
        margin-top: 25px;
        @extend %heading6;
        color: $dark-blue;
        margin-bottom: 12px;
    }
    p {
        @extend %body1;
        font-weight: 400;
        color: $dark-blue;
    }
}

#carousel {
    background-color: $grey;
    padding-bottom: 110px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}





.carousel-control-prev, .carousel-control-next {
    max-width: 50px;
    position: absolute;
    left: auto; 
    right: 0;
    top: auto;
    bottom: 0;
    padding: 10px;
    border-radius: 50%;
    background-color: $royal_blue__color ;
    transition: 0.5s;
}

.carousel-control-prev
 {
    left: auto;
    margin-right: 25px;
    right: 4%;
}



.profil {
    max-width: 245px;
    max-height:56px;
}

.carousel__left {
    h3 {
        @extend %headeing3;
        color: $dark-blue;
        margin-bottom: 16px;
    }
    p {
        @extend %body1;
        color: $dark-blue;
        opacity: 0.7;
    }
}


@media (min-width:980px) {
    #home__header {
        display: flex;
    }
}


@media (min-width:1200px) {
    .project__main {
        display: flex;
        gap: 70px;
    }
    .project__left {
       width: 50%;
    }
}

@media (max-width:800px) {
    #home__card {
        padding: 128px 20px;
    }

}

@media (min-width:950px) {
    .home__card__card {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 16px;
    }

}

@media (min-width:1200px) {
    .home__card__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

}