@import url(/sass/utils/_helpers.scss);
@import url(/sass/utils/_variables.scss);
$royal_blue__color: #2405F2;
$dark-blue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tint__blue: #1C1E53;
$accent: #EEF4FA;
$scin__color: #fcd9801a;

%heading1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%heading2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%headeing3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%heading6 {
    font-size: 24px;
    line-height: 36px;
}

%body1 {
    font-size: 16px;
    line-height: 28px;
}


%btn1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: none;
}

%label1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

%label2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background-color: $tint__blue !important;
}

.navbar * {
    color: #fff !important;
}

.navbar *:hover {
    color: #ddd;
}

.contact__btn {
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    padding: 16px 48px;
}

#pricing__start {
    padding: 128px 0;
}

.pricing__text {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
        @extend %heading2;
        color: $dark-blue;
    }
    p {
        @extend %body1 ;
        font-weight: 600;
        color: $dark-blue;
        opacity: 0.7;
    }
}

.pricing__card {
    width: 406px;
    padding: 64px 48px;
    border-radius: 12px;
    background: #f4f6fc;
    transition: all 0.5s;
}


.pricing__header__card {
    display: flex;
    gap: 8px;
}

.pricing__header__card p {
    color: $royal_blue__color;
     font-size: 16px;
     line-height: 28px;
}

.card__btn {
    display: flex;
    padding: 13px 50px;
    border: none;
    border-radius: 41px;
    font-size: 18px;
    line-height: 32px;
    transition:  0.5s;
    background: #282938;
     color: #f4f6fc;
}


.pricing__card:hover {
    background-color: #1c1e53;
    color: #fff;
    button {
        background-color: $yellow;
        color: $dark-blue;
    }
    .pricing__header__card {
        p {
            color: $yellow;
        }
    }
}

#pricening__main {
    padding-bottom:128px;
}

.accordion__left {
    h2 {
        @extend %heading2;
        color: $dark-blue;
        margin-bottom: 16px;
    }
    p {
        @extend %label1;
        color: $royal_blue__color;
    }
}

.accordion-custom {
    .accordion-button:after {
    background-image: url(/assets/img/plus.svg);
    }
        .accordion-button:not(.collapsed):after {
            background-image: url(/assets/img/close.svg);
        }
}

.accordion-item span {
    @extend %heading6;
    color: $royal_blue__color;
    margin-right: 50px;
}


@media (min-width:710px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1000px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:840px) {
    #pricening__main {
        display: flex;
        gap: 55px;
    }

}

@media (min-width:990px) {
    .accordion-custom {
        min-width:70% ;
    }

}