%heading1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%heading2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%headeing3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%heading6 {
    font-size: 24px;
    line-height: 36px;
}

%body1 {
    font-size: 16px;
    line-height: 28px;
}





%btn1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: none;
}

%label1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

%label2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}